.col-xs-8.col-md-offset-2
  %h4 Dialog with #{@receiver.name}
  = react_component('Dialog', messages: @dialog, sender_id: current_user.id, receiver_id: @receiver.id)
  = render 'messages/form', locals: { receiver: @receiver }